//VARIABLES DE COLOR//
$color-primary: #590696;
$color-secondary: #FBCB0A;
$color-accent: #C70A80;


//VARIABLES DE TAMAÑO DE LETRA//
$font-size-title: 30px;
$font-large: 35px;
$font-medium: 25px;
$font-small: 20px; 
$font-xs: 17px;
$font-xss: 13px;