.navbar{
    background-color: #f54343;
    
    .menu{
        padding-left: 50px;

        .shopcart{
           margin-left: 270px;
        }
    }   
    .nav-link{
        color: white;
        font-size: $font-xs;
    }
    .nav__button{
        color: white;
        border: 1px solid white; 
    }
}    
 